<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.metroui.org.ua/current/metro.css"
    />
    <link
      href="https://cdn.metroui.org.ua/current/icons.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: rgb(9, 89, 238);
      }
      .wrapper {
        padding: 150px;
      }
      .wrapper form {
        margin: 0 auto;
        padding: 80px;
        padding-top: 30px;
        background-color: white;
        width: 600px;
      }
      .title {
        text-align: center;
        margin-bottom: 50px;
      }
      h4 {
        position: relative;
        left: 30px;
        top: 30px;
      }
    </style>
  </head>
  <body>
    <h4 style="display: inline-block">tally-book <small>登录页面</small></h4>
    <img
      class="float-right"
      width="200px"
      height="200px"
      src="/images/cloud.png"
      alt=""
    />
    <div class="wrapper container-fluid">
      <form action="/reg" method="post" class="border border-size-3 bd-gray">
        <div class="title">
          <h1><small>注册</small></h1>
        </div>
        <div class="row mb-2">
          <label class="cell-sm-2">用户名</label>
          <div class="cell-sm-10">
            <input name="username" type="username" class="metro-input" />
          </div>
        </div>
        <div class="row mb-2">
          <label class="cell-sm-2">密码</label>
          <div class="cell-sm-10">
            <input name="password" type="password" class="metro-input" />
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <button type="submit" class="button primary">Sign up</button>
          </div>
        </div>
      </form>
    </div>

    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
  </body>
</html>
